@import './anims.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: 0;
  box-shadow: none;
}

html {
  --indigo: #1a1f36;
  --purple: #764af3;
  --white: #fff;
  --secondary-input-gray: #8f9bb7;
  --primary-input-gray: #e8ecf4;
}